{% extends 'base.html' %}

{% block content %}
<style>
    @media (prefers-color-scheme:dark) {
            body{
                background-color: #1c1c1e;
                color:#fefefe;
            }
            a{
                color:#5fa9ee;
            }
        } 
      div.card {
          margin: auto;
    width: 50%;
          height: 50%;
    border: 5px solid lightblue;
    top: 50%;
      position: relative;
    display: block;
    transform: translate(10%, 80%)
      }
  </style>
<div id="card" class="card" style="width: 28rem;">
    <div class="card-body">
     <center> <h4 class="card-subtitle mb-2 text-muted">Get Images</h4></center>
     <br>
     <form action="{% url 'getimages' %}" method="POST">
     {% csrf_token %}
            <div>
            </div>
            <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Folder Name</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>    
                      <input type="text" class="form-control" name="foldername" placeholder="User Id" required>
                               </div>
                               <label class="sr-only" for="inlineFormInputGroup">Folder Name</label>    
                               <br>
                               <center>
                            <div id="button">
                            <button type="submit" class="btn btn-primary">Get Files</button> 
                            </div>
                          </center>                 
            </form>
    </div>
  </div>

{% endblock content %}